

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 6px;
}

.nav .logo{
    height: 88px;
    width: 323px;
}

.nav .list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.nav li{
    height: 38px;
    /* border: #F48533 solid 2px; */
   line-height: 38px;
    
}

.nav .btn{
    width: 148px;
    height: 59px;
    background-color: #F48533;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.329);
    
}

.nav .link{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
   

}