.pricing{
    background:#F7F7F7;
    padding:50px 0;
    height: 726.34033203125px;
   
}

.pricing-title{
   
    font-size:40px;
    margin-bottom:20px;
    font-weight: 500;
    text-align: center;
    height: 96px;
}

.pricing-title span{
    color:#F17C21;
}

.toggle{
    display:flex;
    justify-content:center;
    gap:8px;
    margin-bottom:77.34px;
    width: 193px;
    height: 48px;
    border-radius: 27px;
    box-shadow: 0px 3px 5px #183B5633;
    align-items: center;
    background-color: #FFFFFF;
    margin-left:auto;
    margin-right:auto;
    
    
}

.toggle button{
    padding:4px 16px;
    border-radius:16px;
    border:none;
    background:#ffffff;
    cursor:pointer;
    width: 99px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;

}

.toggle .active{
    background:#F17C21;
    color:white;
}
.toggle .inactive{
    background:#ffffff;
    color:#627065;
    padding:4px 9px;
    width: 70px;
    height: 32px;
}



.price-cards{
    display:flex;
    justify-content:center;
    gap:12px;
}

.price-card{
    background:white;
    width:283.5px;
    height: 385px;
    padding:42px 24px;
    border-radius:4px;
    position: relative;
}

.price-card .center{
    display: flex;
    flex-direction: column;
    width: 235.5px;
    height: 301px;
    align-items: center;
    justify-content: space-between;
}

.price-card .text-wrap{
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;
}

.price-card h3{
    font-size:28px;
    font-weight: 500;
    top: 42px;
    
}

.price-card .sm{
    font-size:16px;
    font-weight: 400;
    text-align: center;
    
}

.price-card h1{
    font-size:40px;
    font-weight: 600;
}

.price-card span{
    font-size:16px;
}

.recommended{
    background:#F17C210D;
    font-size: 16px;
    font-weight: 500;
    
}

.badge{
    position:absolute;
    top:-32px;
    left:0;
    right:0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin:auto;
    background:#F17C21;
    color:white;
    padding:4px 8px;
    font-size:14px;
    width:283px;
    height: 32px;
    text-align: center;

}


.enterprise{
    background:#F17C210D;
    border: #F17C21 1px solid;
}

.btn-main{
    background:#f17c21;
    color:white;
    border:none;
    padding:8px 17px;
    border-radius:8px;
    width: 138px;
    height: 43px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease-out 0s, background 0.3s ease-out 0s;

    
}

.btn-outline{
    border:1px solid #333;
    background:white;
    padding:8px 17px;
    border-radius:8px;
    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s ease-out 0s;
    
}

.btn-outline:hover{
    color: white;
    background:black;
   
}
.btn-main:hover{
    
    background:rgb(74, 151, 122);
   
}



