.section2 {
    height: 658px;
    align-items: center;
    display: flex;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 1318px;
}

.card {
    width: 321px;
    height: 459px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: relative;
}

.card p:nth-child(1) {
    font-size: 36px;
    width: 228px;
    padding: 30px 0px 12px 0px;
    margin: auto;
}

.card p:nth-child(3) {
    font-size: 21px;
    height: 305px;
    width: 240px;
    padding: 0px 3px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: flex-end;  
    text-align: center;
}

.card hr {
    width: 106px;
    color: white;
    margin: auto;
}

.card1 {
    background-color: #f17c21b2;
}
.card2 {
    background-color: #ff2263b2;
}
.card3 {
    background-color: #2346a0b2;
}
.card4 {
    background-color: #989b10b2;
}
